
:root {
  --white: #fff;
  --red: #ff0000;
  --green: #39ad39;
  --blue: #0000ff;
  --black: #000000;

  /* Mediterranean Color Palette */
  --brown: #9a6c63;
  --clay: #dad0cf;
  --olive: #b4840d;
  --seagreen: #008989;
  --darkslate: #546978;

  --s: 4px;
  --m: 8px;
  --l: 16px;
  --xl: 32px;
}

.About html, body {
  height: 100%;
}
.About-center {
  margin-left: auto;
  margin-right: auto;
}
.container {
  display: flex;
  padding-left: 25%;
  padding-right: 25%;
}
.holder {
  flex: 1;
  margin: 5%;
  border-radius: 50%;
}
.holder:before {
  content: "";
  display: inline-block;
  padding-top: 100%;
}
.h1 {
  background-image: url("./smiley_2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(177, 174, 170);
  box-shadow: 0px 0px 0px 2px whitesmoke;
}
.h2 {
  background: grey;
}
.h3 {
  background: grey;
}
.h4 {
  background: grey;
}