@font-face {
  font-family: pixelFont;
  src: url(./fonts/font1.ttf) format('truetype');
}

.hidden {
  display: none;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  pointer-events: none;
  z-index: -1;
}

.text {
  font-family: pixelFont;  
  width: 825px;
  height: 16px;
  z-index: 0;
}

.background {
  display: flex;
  position: absolute;
  justify-content: center;
  pointer-events:none;
  z-index: -2;
}

/* choices */
.choices {
  display: block;
  border: none;
  padding: 0;
  background: none;
  font-size: 30px;
  margin-top: 43px;
  margin-bottom: -43px;
  font-family: pixelFont;
  width: 816px;
  height: 30px;
  text-align: left;
  cursor: pointer;
  text-indent: 28px;
  animation: fadein 1s;
  -webkit-animation: fadein 1.25s; /* Safari and Chrome */
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.choices:hover {
  transition: 800ms cubic-bezier(0.2, 0, 0, 0.8);
  text-indent: 36px;
  background-color: #ffffff62;
  border-radius: 25px;
}

.choices:active {
  outline: 0;
  border: none;
  transition: 0ms;
  background-color: #ffffffce;
}


/* removed the box when right clicking. not good practice?? */ 
.choices:focus { 
  outline: none;
} 

/* THE WHOLE PAGE BASICALLY */
.flex-container {
  display: flex;
  position: relative;
  justify-content: center;
}

/* DIALOGUE NPC SPEECH TEXT */
.flex-container > div {
  text-align: left;
  position: absolute;
  top: 63%;
  font-size: 30px;
}
