.dBox-boxPic {
  background-image: url("./mockupdialoguebox2-export.png");
  width: 896px;
  height: 192px;
}

.dBox-hidden {
  display: none;
}

.dBox-blockDisplay {
  display: block;
  outline: none;
  border: none;
}


.dBox-img {
  image-rendering: pixelated;
  /* image-rendering: -moz-crisp-edges; */
  /* image-rendering: crisp-edges; */
  z-index: 1;
  top: 63%;
}

.dBox-textQ {
  font-family: pixelFont;  
  width: 825px;
  font-size: 23px;
  z-index: 0;
  margin-left: 3%;
  margin-top:  2.5%;
  /* below for anime */
  white-space: none;
  overflow: hidden;
}

.css-typing
{   
    font-family: "pixelFont";
    font-size: 23px;
    width: 825px;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(40, end);
    animation: type 5s steps(40, end);
}

.css-typing:nth-child(2)
{
    white-space:nowrap;
    overflow:hidden;    
    opacity:0;
    -webkit-animation: type 5s steps(40, end);
    animation: type2 5s steps(40, end);
    -webkit-animation-delay: 5s; 
    animation-delay: 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.css-typing:nth-child(3){
    white-space:nowrap;
    overflow:hidden;
    opacity:0;
    -webkit-animation: type 5s steps(40, end);
    animation: type3 5s steps(40, end);
    -webkit-animation-delay: 10s; 
    animation-delay: 10s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

 @keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

span{
  animation: blink 1s infinite;
}

@keyframes type2{
0%{width: 0;}
from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}
}
@-webkit-keyframes type2{
0%{width: 0;}
from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}
}  
@keyframes type3{
  0%{width: 0;}
  from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}

} 
@-webkit-keyframes type3{
  0%{width: 0;}
  from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}
} 


.dBox-textA {
  font-family: pixelFont;  
  align-items: center;
  width: 825px;
  font-size: 23px;
  z-index: 0;
  background: none;
  outline: none;
  margin-left: 5%;
  margin-top: 1%;
}

.dBox-background {
  display: flex;
  position: absolute;
  justify-content: center;
  pointer-events:none;
  z-index: -2;
}

/* choices */
.dBox-choices {
  /*display: block; */
  border: none;
  background: none;
  font-size: 23px;
  width: 816px;
  height: 23px;
  font-family: pixelFont;
  text-align: left;
  cursor: pointer;;
  text-indent: 28px;
  /* animation: 2s;
  -webkit-animation: fadein 2.5s; Safari and Chrome */
}

@keyframes fadein {
  0% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}


.dBox-choices:hover {
  transition: 800ms cubic-bezier(0.2, 0, 0, 0.8);
  text-indent: 36px;
  background-color: #ffffff62;
  border-radius: 25px;
}

.dBox-choices:active {
  outline: 0;
  border: none;
  transition: 0ms;
  background-color: #ffffffce;
  border-radius: 25px;
  text-indent: 36px;
} 



/* removed the box when right clicking. not good practice?? */ 
.dBox-choices:focus { 
  outline: none;
} 

/* THE WHOLE PAGE BASICALLY */
.dBox-flex-container {
  display: flex;
  position: relative;
  justify-content: center;
  height: inherit;
}

/* DIALOGUE NPC SPEECH TEXT */
.dBox-flex-container > div {
  text-align: left;
  position: absolute;
  /* top: 63%; */
  font-size: 23px;
}

/* for the typing effect lol */
/* Animation - help from Johan Cervantes */ 

/*
.anim-typewriter{
  animation: typewriter 3s steps(80) 1s 1 normal both,
             blinkTextCursor 500ms steps(80) infinite normal;
  overflow: hidden;

}

@keyframes typewriter {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

*/


@keyframes typing {
  from { width: 100% }
  to { width: 0 }

}

.container {
position: relative;
font-family: Consolas, monospace;  
}

.typing {
position: absolute;
top: 0;
margin: 0;
z-index: -1;
}

.hiders {
position: absolute;
top: 0;
margin-left: -1.5%;
margin-top:  2.5%;
}

.hiders p {
position: relative; 
clear: both; 
margin: 0;
float: right; /* makes animation go left-to-right */
width:0; /* graceful degradation: if animation doesn't work, these are invisible by default */
background: #becfca; /* same as page background */
animation: typing 2s steps(30, end);
animation-fill-mode: both;  /* load first keyframe on page load, leave on last frame at end */
}

.hiders p:nth-child(2) {
animation-delay: 2s;
}


.portrait-Rhea {
  image-rendering: pixelated;
  background-image: url("./Rheas.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  transform: scaleX(-1);
  top: 15%;
  right: 10%;
  width: 30vh;
  height: 30vh;
}

.portrait-oldlady {
  image-rendering: pixelated;
  background-image: url("./oldLadyPNG.png");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 15%;
  left: 10%;
  width: 30vh;
  height: 30vh;
}

.practice-smiley {
  image-rendering: pixelated;
  background-image: url("./smiley3x.png");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 15%;
  left: 10%;
  width: 30vh;
  height: 30vh;
}

.sprites {
  image-rendering: pixelated;
  background-image: url("./potraitsOfPeople.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.councilPFP {
  image-rendering: pixelated;
  background-image: url("../modules/profilePics/CouncilPFP.png");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 25.6%;
  left: 0%;
  width: 70vh;
  height: 30vh;
}

.leaderPFP {
  image-rendering: pixelated;
  background-image: url("../modules/profilePics/LeaderPFP.png");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 14.8%;
  left: 10%;
  width: 50vh;
  height: 30vh;
}


.angryPFP {
  image-rendering: pixelated;
  background-image: url("../modules/profilePics/AngryPFP.png");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 14.8%;
  left: 10%;
  width: 50vh;
  height: 30vh;
}

.junoWithKnickKnacksPFP {
  image-rendering: pixelated;
  background-image: url("../modules/profilePics/junoWithKnickKnacksPFP.png");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 14.8%;
  left: 10%;
  width: 50vh;
  height: 30vh;
}


.riddlesPFP {
  image-rendering: pixelated;
  background-image: url("../modules/profilePics/RiddlesPFP.png");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 15%;
  left: 2%;
  width: 50vh;
  height: 30vh;
}


.oldHappyCassandraPFP {
  image-rendering: pixelated;
  background-image: url("../modules/profilePics/OldHappyCassandraPFP.png");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 15%;
  left: 10%;
  width: 30vh;
  height: 30vh;
}


.oldSadCassandraPFP {
  image-rendering: pixelated;
  background-image: url("../modules/profilePics/OldSadCassandraPFP.png");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 15%;
  left: 10%;
  width: 30vh;
  height: 30vh;
}



.youngCassandraPFP {
  image-rendering: pixelated;
  background-image: url("../modules/profilePics/YoungCassandraPFP.png");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 15%;
  left: 10%;
  width: 30vh;
  height: 30vh;
}



.rheaPFP {
  image-rendering: pixelated;
  background-image: url("../modules/profilePics/RheaPFP.png");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 15%;
  left: 10%;
  width: 30vh;
  height: 30vh;
}


.laiaPFP {
  image-rendering: pixelated;
  background-image: url("../modules/profilePics/LaiaPFP.png");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 15%;
  left: 10%;
  width: 30vh;
  height: 30vh;
}


.grapePFP {
  image-rendering: pixelated;
  background-image: url("../modules/profilePics/GrapePFP.png");
  background-size: 100%;
  background-repeat: no-repeat;
  top: 15%;
  left: 10%;
  width: 30vh;
  height: 30vh;
}


