/*
  To make an object for a room, copy the pattern from lines 59-116: just change the name and url
  To add an object to a room or make a new room, follow the pattern in MapInfo.js

  If you change Game-frame's dimensions, you have to change it in Game.js too
  If you want an invisible wall you can click on, make its className an empty string, NOT invisible
*/



:root {
  --bg: #9fa7e4;
}
@media( min-width: 700px ) {
  :root {
     --pixel-size: 3px;
  }
}
@media( min-width: 1000px ) {
  :root {
    --pixel-size: 4px;
  }
}

.Game-frame  {
  height: 100%;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.pixel-art {
  image-rendering: pixelated;
}

.Game-frame {
  /* This is just for Pen decoration */
  width: 960px;
  height: 544px;
  outline: 2px solid #fff;
  z-index:1; 
  position:relative;

} 

.camera {
  box-sizing: content-box;

  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #61ddf7;
  position:relative;
}


.character {
  width: 32px;
  height: 64px;
  overflow: hidden;
}

.map {
  image-rendering: pixelated;
  background-image: url("https://assets.codepen.io/21542/CameraDemoMap.png");
  background-size: 100%;
  position: relative;

}

.checker {
  image-rendering: pixelated;
  background-image: url("../modules/checkerboard.png");
  background-size: 100%;
}

.river {
  image-rendering: pixelated;
  background-image: url("../modules/desertriver.png");
  background-size: 100%;
  position: relative;
}


/* ~~~ MAP IMAGES STARTING HERE ~~~  */
.Game-home {
  image-rendering: pixelated;
  background-image: url("../modules/maps/home.png");
  background-size: 100%;
  position: relative;
}

.Game-templeExterior {
  image-rendering: pixelated;
  background-image: url("../modules/maps/templeExterior.png");
  background-size: 100%;
  position: relative;
}

.Game-templeInterior {
  image-rendering: pixelated;
  background-image: url("../modules/maps/templeInterior.png");
  background-size: 100%;
  position: relative;
}

.Game-panorama {
  image-rendering: pixelated;
  background-image: url("../modules/maps/panorama.png");
  background-size: 100%;
  position: relative;
}

.Game-fireRoom {
  image-rendering: pixelated;
  background-image: url("../modules/maps/fireRoom.png");
  background-size: 100%;
  position: relative;
}

.Game-clearing {
  image-rendering: pixelated;
  background-image: url("../modules/maps/clearing.png");
  background-size: 100%;
  position: relative;
}

.Game-rheaExterior {
  image-rendering: pixelated;
  background-image: url("../modules/maps/rheaExterior.png");
  background-size: 100%;
  position: relative;
}
/* ~~~ MAP IMAGES ENDING HERE ~~~~ */

.small-box {
  image-rendering: pixelated;
  background-image: url("../modules/smallbox.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.door {
  image-rendering: pixelated;
  background-image: url("../modules/archdoor.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.right-telescope {
  image-rendering: pixelated;
  background-image: url("../modules/telescope.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.left-telescope {
  image-rendering: pixelated;
  background-image: url("../modules/telescope.png");
  transform: scaleX(-1);
  background-size: 100%;
  background-repeat: no-repeat;
}

.redcircle {
  image-rendering: pixelated;
  background-image: url("../modules/redcircle.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.dialogue {
  image-rendering: pixelated;
  background-image: url("../../../../testingRPG/mockupdialoguebox.png");
  background-size: 100%;
  width: 480px;
  height: 272px;
  position: relative;
  top: 50px;
}

.invisible {
  z-index: -1;
}

/* .shadow {
  width: calc( var(--grid-cell)* 2 );
  height: calc( var(--grid-cell)* 2 );
  position: absolute;
  left:0;
  top:0;
  background: url("https://assets.codepen.io/21542/DemoRpgCharacterShadow.png") no-repeat no-repeat;
  background-size: 100%;
  z-index: 1;
} */

.character_spritesheet {
  /* background: url("https://assets.codepen.io/21542/DemoRpgCharacter.png") no-repeat no-repeat; */
  background: url("./DemoRpgCharacter.png") no-repeat no-repeat;
  background-size: 100%;
  width: 128px;
  height: 256px;
  z-index: 2;

}

.character[facing="right"] .character_spritesheet {
  background-position-y: -64px;
}
.character[facing="up"] .character_spritesheet {
  background-position-y: -128px;
}
.character[facing="left"] .character_spritesheet {
  background-position-y: -192px;
}
.character[walking="true"] .character_spritesheet {
  animation: walkAnimation 0.6s steps(4) infinite; 
}

@keyframes walkAnimation {
 from {
   transform: translate3d(0%,0%,0);
 }
 to {
   transform: translate3d(-100%,0%,0);
 }
}

.corner_topleft,
.corner_topright,
.corner_bottomleft,
.corner_bottomright {
  position: absolute;
  width: 2px;
  height: 2px;
  background: var(--bg);
  z-index:2;
}

.corner_topleft {
  top: -2px;
  left: -2px;
}
.corner_topright {
  top: -2px;
  right: -2px;
}
.corner_bottomleft {
  bottom: -2px;
  left: -2px;
}
.corner_bottomright {
  bottom: -2px;
  right: -2px;
}

/* 
.headline {
  position:absolute;
  top:calc(var(--pixel-size) * 2);
  right:calc(var(--pixel-size) * 2);
  width: calc(var(--pixel-size) * 75)
} */