/* Fill me in :) */

:root {
  --white: #fff;
  --red: #ff0000;
  --green: #39ad39;
  --blue: #0000ff;

  /* Mediterranean Color Palette */
  --brown: #9a6c63;
  --clay: #d05d47;
  --olive: #b4840d;
  --seagreen: #008989;
  --darkslate: #546978;
}
