/* Fill me in :) */

:root {
  --white: #fff;
  --red: #ff0000;
  --green: #39ad39;
  --blue: #0000ff;
  --black: #000000;

  /* Mediterranean Color Palette */
  --brown: #9a6c63;
  --clay: #d05d47;
  --olive: #b4840d;
  --seagreen: #008989;
  --darkslate: #546978;

  --s: 4px;
  --m: 8px;
  --l: 16px;
  --xl: 32px;
}

.Skeleton-button-container {
  background-color: #546978;
  margin: 0;
  padding: 0;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 80px;
  border-radius: 4px;
  /* margin-left: var(--s); */
}

.Skeleton-practice-link {
  color: var(--white);
  font-size: var(--l);
  font-family: Georgia;
  padding: 100px;
}

.Skeleton-practice-link:hover {
  opacity: 0.65;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.pic {
  display: block;
  margin-left: 280px;
  margin-right: 350px;
  width: 50%;

}